/*Body styles*/

#container {
	margin: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section {
	width: 100%;
	padding: 10px;
}

/* Menu Bar */
#menu {
	display: flex;
	justify-content: space-around;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: red;
	
}

#menu > a:link {
	text-decoration: none;
	color: white;
	position: sticky;
}

#menu > a:hover {
	background-color: red;
	color: white;
}

#menu > a:visited {
	text-decoration: none;
	color: white;
}

/* Logo Section*/


#boxLogo {
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	position: center;
	background-color: red;
	width: 120px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
}

span {
	font-weight: bold;
}

/*Hypebeast Pictures Section*/

#hypePics {
	padding: 10px;
	background-color: red;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

img {
	width: 400px;
	height: 200px;
	background-color: white;
	-webkit-animation: flash;
	animation: flash;
	animation-delay: 5s;
	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
}




/* About the Hype section*/

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#shop {
	padding: 10px;
	background-color: red;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}






