/*Body styles*/

#container {
	margin: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section {
	border: 3px solid grey;
	width: 100%;
	padding: 10px;
}

/* Menu Bar */
#menu {
	display: flex;
	justify-content: space-around;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: red;
	
}

#menu > a:link {
	text-decoration: none;
	color: white;
	position: sticky;
}

#menu > a:hover {
	background-color: red;
	color: white;
}

#menu > a:visited {
	text-decoration: none;
	color: white;
}

/* Logo Section*/


#boxLogo {
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	position: center;
	background-color: red;
	width: 120px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
}

span {
	font-weight: bold;
}

/*Hypebeast Pictures Section*/

#hypePics {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.hidden {
	opacity: 0;
}

.show {
	animation: fadeIn 1000ms;
}


/* About the Hype section*/

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#shop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}






